SECRET_KEY=ids-system-secret-key
DATABASE_URI=mysql+pymysql://root:123456@127.0.0.1:3306/ids_system?charset=utf8mb4
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000
MODEL_PATH=c:\graduationProject\project\model\1D_CNN_BiLSTM_Attn_best.pth
DATASET_DIR=c:\graduationProject\project\model\dataset
ARTIFACT_DIR=c:\graduationProject\project\model\artifacts
MODEL_INPUT_SIZE=32
TRAFFIC_FLOW_INPUT_DIR=c:\graduationProject\project\model\uploads\traffic_flows\inbox
TRAFFIC_FLOW_ARCHIVE_DIR=c:\graduationProject\project\model\uploads\traffic_flows\archive
TRAFFIC_PCAP_DIR=c:\graduationProject\project\model\uploads\traffic_flows\pcap
TRAFFIC_PCAP_ARCHIVE_DIR=c:\graduationProject\project\model\uploads\traffic_flows\pcap_archive
TRAFFIC_MONITOR_INTERVAL=10
AUTO_START_TRAFFIC_MONITOR=false
TRAFFIC_CAPTURE_INTERFACE=1
TRAFFIC_CAPTURE_DURATION=15
TRAFFIC_CAPTURE_FILTER=tcp port 5000
