.env
.venv/
.venv_backup_py311/
instance/
__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

logs/
uploads/
artifacts/
dataset/

*.log
*.sqlite3

.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
